<footer class="footer container">
        <div class="footer__content">
            <div class="footer__logos">
                <img src="./assets/images/equal-housing-lender-1.png" alt="house sketch">
                <img src="assets/images/member-fdic.png" alt="member-fdic">
            </div>
            <ul class="flexed-pipes">
                <li>&copy; 2022 FosterrBank</li>
                <!-- <li>NMLS ID # 421841</li>
                <li>ABA Routing # 061112843</li>
                <li>2 West Washington Street, Suite 700, Greenville, SC 29601</li>
                <li>1-800-822-2651</li> -->
            </ul>
        </div>
    </footer>