<header class="primary_header">
    <div class="container">
        <div class="header_top">
            <img class="company_logo" src="assets/images/logo.png" alt="fosterr bank logo">
            <div class="user_desc">
                <img class="user_avatar" src="assets/images/uploaded_avatar/no-avatar-2.jpg" alt="">
                <button class="signout_btn">Sign out</button>
            </div>
        </div>
        <div class="header_desc">
            <% if (typeof firstName !=='undefined' ) { %>
                <p>Hello, <%= firstName %>
                </p>
                <% } else { %>
                    <p>Hello, User</p>
                    <% } %>
        </div>
    </div>
    <nav class="header_nav">
        <div class="container">
            <ul class="nav__items">
                <li class="nav__item">
                    <a href="/" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/payment" class="nav__link">Pay & Transfer</a>
                </li>
                <li class="nav__item">
                    <a href="/profile" class="nav__link">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
</header>