<nav class="navbar mobile">
    <ul class="nav__items">
        <li class="nav__item">
            <a href="/" class="nav__link">
                <i class="bi bi-house-door"></i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav__item">
            <a href="/payment" class="nav__link">
                <i class="bi bi-box-arrow-right"></i>
                <p>Transfer</p>
            </a>
        </li>
        <li class="nav__item">
            <a href="/profile" class="nav__link">
                <i class="bi bi-person"></i>
                <p>Profile</p>
            </a>
        </li>
        <li class="nav__item">
            <a href="/logout" class="nav__link">
                <i class="bi bi-box-arrow-right"></i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
</nav>
<nav class="navbar desktop">
    <div class="container">
        <img class="desktop-logo" src="./assets/images/logo.png" alt="company logo">

        <ul class="nav__items">
            <li class="nav__item">
                <a href="/" class="nav__link">
                    <div class="icon-wrapper"><i class="bi bi-house-door"></i></div>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav__item">
                <a href="/payment" class="nav__link">
                    <div class="icon-wrapper"><i class="bi bi-box-arrow-right"></i></div>
                    <p>Transfer</p>
                </a>
            </li>
            <li class="nav__item">
                <a href="/profile" class="nav__link">
                    <div class="icon-wrapper"><i class="bi bi-person"></i></div>
                    <p>Profile</p>
                </a>
            </li>
        </ul>

        <div class="nav_div">
            <img class="user_img" src="assets/images/uploaded_avatar/no-avatar-2.jpg" alt="profile_pic">
            <button class="nav_btn">Sign out</button>
        </div>
    </div>
</nav>